  body {
      background: black;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      box-sizing: border-box;
  }
  
  img {
      width: 350px;
      height: 210px;
  }
  
  .containe {
      display: flex;
  }